@import "./../../assets/styles/variables.scss";

.spoiler-visible {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;

  &__icon {
    width: 16px;
    height: 16px;
  }

  &__text {
    color: $blue;
    font-size: 14px;
  }

  &::before {
    content: "";
    display: block;
    width: 10px;
    border-top: 2px solid $turquoise;
    position: absolute;
    left: -20px;
    top: 8px;
  }
}

.spoiler-hidden {
  margin-top: 10px;
  margin-left: 30px;
}
