@import "./../../assets/styles/variables.scss";

.toolbar {
  &__button {
    font-size: 16px;
    border: 1px solid $color-turquoise;
    border-radius: 4px;
    background: $color-turquoise;
    color: #fff;
    padding: 10px 20px;
    transition: background 0.3s ease;

    &:hover {
      cursor: pointer;
      background: #fff;
      color: $color-turquoise;
    }
  }
}
