@import "./../../assets/styles/variables.scss";

.content {
  display: flex;
  gap: 20px;

  &__button {
    width: 200px;
    padding: 10px;
    border: 1px solid $color-deep-blue;
    background: transparent;
    color: $color-deep-blue;
    box-shadow: 0px 2px 5px 0px rgba(#000, 0.2);
    transition:
      background 0.3s ease,
      color 0.3s ease;

    &:hover {
      background: $color-deep-blue;
      color: #fff;
      cursor: pointer;
    }
  }
}
