@import "./../../assets/styles/variables.scss";

.container-exams {
  display: flex;
  flex-direction: column;

  &__title {
    font-family: "latoblack";
    color: $color-deep-blue;
    text-align: center;
  }

  &:last-child {
    border-left: 2px solid $color-line;
    padding-left: 10px;
  }
}

.exams-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  gap: 4px;
  list-style: none;
  counter-reset: item;
  padding: 0;
  margin-top: 4px;

  &__item {
    counter-increment: item;

    a {
      color: $color-blue;
    }

    &::before {
      content: counter(item) ".";
      margin-right: 10px;
    }
  }
}
